@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background-color: #1C1C1F;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  min-height: 100%;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

.btn {
  border: none;
  padding: 0.6em 0.5em;
  cursor: pointer;
}

.header-main {
  background-color: #394054;
  padding: 20px;
  margin-top: -10px;
}

.header-username {
  color: white;
  margin-right: 8px;
  margin-top: 20px;
}

.header-user {
  display: flex;
  justify-content: end;
}

.header-logo, .header-nav, .header-logins {
  display: none;
}

.header-image {
  height: 60px;
}

.menu-burger {
  margin-bottom: -40px;
  height: 20px;
}

.tasks {
  margin-top: 1.625rem;
  margin: 0 auto;
  max-width: 90rem;
  width: 90%;
}
.tasks .tasks-heading {
  font-size: 1.875rem;
}

.tasks-menu {
  display: flex;
  gap: 1.43rem;
  list-style: none;
  margin-top: 0.75rem;
}
.tasks-menu .tasks-menu-item {
  font-weight: 500;
}

.tasks-kanban {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2.75rem;
  margin-top: 2.125rem;
}
.tasks-kanban .tasks-kanban-list {
  list-style: none;
}
.tasks-kanban .tasks-kanban-task {
  background-color: #394054;
  border-radius: 0.5rem;
  font-weight: 500;
  padding: 0.9em 0.6em;
}
.tasks-kanban .tasks-kanban-task:first-child {
  margin-top: 0.75rem;
}
.tasks-kanban .tasks-kanban-task .tasks-kanban-task-overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tasks-kanban .tasks-kanban-task .task-title {
  font-weight: 600;
}
.tasks-kanban .tasks-kanban-task .task-description {
  font-size: 0.875rem;
  line-height: 1.45;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.tasks-kanban .tasks-kanban-task .task-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tasks-kanban .tasks-kanban-task .task-status {
  color: #B0C0D4;
  padding: 0.9em 0;
}
.tasks-kanban .tasks-kanban-task .task-btn {
  background-color: #B0C0D4;
  border-radius: 0.3125rem;
  color: #1C1C1F;
}
.tasks-kanban .tasks-kanban-task .task-btn:hover {
  color: #B0C0D4;
  background-color: #1C1C1F;
}
.tasks-kanban .tasks-kanban-btn {
  background-color: transparent;
  color: #B0C0D4;
  margin-top: 1rem;
  font-size: 1rem;
}
.tasks-kanban .tasks-kanban-btn:hover {
  color: #394054;
}

body {
  background-color: #1C1C1F;
}

h1 {
  color: white;
  padding: 30px;
}

.card {
  background-color: #B0C0D4;
  padding: 20px;
  margin: 20px;
}
.card .desc-card {
  padding-top: 10px;
}

footer {
  background-color: #394054;
  padding: 40px;
}
footer .footer-paragraphe {
  text-align: center;
  color: white;
}

@media screen and (min-width: 1023px) {
  header {
    height: 13.333vw;
    display: flex;
  }
  .main-paragraphe {
    padding-left: 13.333vw;
    margin-top: 7vw;
    margin-right: 12vw;
    padding-right: 12vw;
    padding-left: 12vw;
    margin-bottom: 7vw;
  }
  h1 {
    padding-left: 12vw;
    margin-bottom: 5vw;
  }
  .main-button {
    margin-left: 12vw;
    border: none;
    color: white;
    background-color: #1C1C1F;
    font-size: 2vw;
    font-weight: 700;
  }
}

/*# sourceMappingURL=style.css.map */
