@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $primary;
    color: #fff;
    font-family: $fontStack;
    min-height: 100%;
}

// h3{
//     color: black;
//     font-size: 1.3rem;
// }

input, 
select,
textarea,
button{
    font-family: inherit;
}

section{
    margin: 0 auto;
    max-width: 90rem;
    width: 90%;
}

.btn{
    border: none;
    padding: .6em .5em;
    cursor: pointer;
}