@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $primary;
    color: #fff;
    font-family: $fontStack;
    min-height: 100%;
}

input, 
select,
textarea,
button{
    font-family: inherit;
}

.btn{
    border: none;
    padding: .6em .5em;
    cursor: pointer;
}