.header-main{
    background-color: $secondary;
    padding: 20px;
    margin-top: -10px;

}

.header-username{
    color: white;
    margin-right: 8px;
    margin-top: 20px;

}

.header-user{
    display: flex;
    justify-content: end;
}

.header-logo, .header-nav, .header-logins{
    display: none;
}

.header-image{
    height: 60px;
}

.menu-burger{
    margin-bottom: -40px;
    height: 20px;
}


@media screen and (min-width:480px) {

    .menu-burger{
        display: none;
    }

    .header-username{
        display: flex;
        justify-content: end;
    }

    .header-logo, .header-nav, .header-logins{
        display: contents;
    }

    .nav-links{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .nav-link{
        padding: 10px;
        color: white;
    }

    .header-logins{
        display: flex;
        flex-direction: row;
    }

    .header-login{
        color: white;
        margin: 10px;
    }
}