.header-main{
    background-color: $secondary;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.header-username{
    color: white;
    margin-right: 8px;
    margin-top: 20px;

}

.header-user{
    display: flex;
    justify-content: end;
}

.header-logo, .header-nav, .header-logins{
    display: none;
}

.header-image{
    height: 60px;
}

.menu-burger{
    height: 20px;
}


@media screen and (min-width:481px) {


    .nav-link{
        font-weight: bold;
    }

    .header-username{
        font-weight: bold;
    }

    .menu-burger{
        display: none;
    }


    .header-logo, .header-nav, .header-logins{
        display: block;
    }

    .header-logins{
        display: flex;
        gap: 10px;
    }

    .nav-links{
        display: flex;
        gap: 16px;
    }

}