.header-main{
    background-color: $secondary;
}

.header-container{
    position: relative;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 90rem;
    width: 90%;
}

.header-nav.menumobile{
   position: absolute;
   top: 100%;
   background-color: $secondary;
   width: 101vw;
   left: -6%;
   text-align: center;
   padding-bottom: 15px;
   display: block;

   &~.menu-burger{
    opacity: 0.5;
   }

   .nav-link{
    padding: 10px;
   }
}

.header-username{
    color: white;
    font-size: 18px;
}

.header-userinfos{
    display: flex;
    align-items: center;
}

.header-nav{
    cursor: pointer;
}

.header-user{
    display: flex;
    gap: 10px;
}

.header-logo, .header-nav, .header-logins{
    display: none;
}

.header-image{
    height: 60px;
}

.menu-burger{
    height: 20px;
    cursor: pointer;
}


@media screen and (min-width:620px) {

    .header-user{
        justify-content: end;
        align-items: center;
        gap: .5rem;
    }


    .nav-link{
        font-weight: bold;
        font-size: 18px;
    }

    .header-userinfos{
        display: unset;
        text-align: end;
    }

    .header-username{
        font-weight: bold;

    }

    .menu-burger{
        display: none;
    }


    .header-logo, .header-nav, .header-logins{
        display: block;
    }

    .header-logins{
        display: flex;
        gap: 10px;
    }

    .header-login{
        font-size: 14px;
    }

    .nav-links{
        display: flex;
        gap: 16px;
        cursor: pointer;
    }

}