.header-main{
    background-color: $secondary;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-username{
    color: white;
    font-size: 18px;
}

.header-userinfos{
    display: flex;
    align-items: center;
}

.header-user{
    display: flex;
    gap: 10px;
}

.header-logo, .header-nav, .header-logins{
    display: none;
}

.header-image{
    height: 60px;
}

.menu-burger{
    height: 20px;
}


@media screen and (min-width:481px) {

    .header-user{
        justify-content: end;
        align-items: center;
        gap: .5rem;
    }


    .nav-link{
        font-weight: bold;
        font-size: 18px;
    }

    .header-userinfos{
        display: unset;
        text-align: end;
    }

    .header-username{
        font-weight: bold;

    }

    .menu-burger{
        display: none;
    }


    .header-logo, .header-nav, .header-logins{
        display: block;
    }

    .header-logins{
        display: flex;
        gap: 10px;
    }

    .header-login{
        font-size: 14px;
    }

    .nav-links{
        display: flex;
        gap: 16px;
        cursor: pointer;
    }

}