body{
    background-color: $primary;
}

h1{
    color: white;
    padding: 30px;
}

.card{
    background-color: $lightBlue;
    padding: 20px;
    margin: 20px;

    .desc-card{
        padding-top: 10px;
    }
}