.tasks{
    margin: 1.625rem auto;
    
    .tasks-heading{
        font-size: 1.875rem;
    }
}

.task{
    background-color: $secondary;
    border-radius: .5rem;
    font-weight: 500;
    padding: .9em .6em;

    &:first-child{
        margin-top: .75rem;
    }

    .task-overview{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .task-title{
        font-weight: 700;
    }

    .task-description{
        font-size: .875rem;
        line-height: 1.45;
        margin-top: .5rem;
        margin-bottom: .5rem;
        max-width: 50ch;
    }

    .task-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .task-status{
        color: $lightBlue;
        padding: .9em 0;
    }

    .task-btn{
        background-color: $lightBlue;
        border-radius: .3125rem;
        color: $primary;

        &:hover{
            color: $lightBlue;
            background-color: $primary;
        }
    }
}

.tasks-menu{
    display: flex;
    gap: 1.43rem;
    list-style: none;
    margin-top: 1.6em;

    .tasks-menu-item{
        font-weight: 500;
    }

    .task-view-switch{
        cursor: pointer;
        &:hover{
            opacity: 0.5;
        }
    }

    .tasks-filter,
    .tasks-sort{
        background-color: $secondary;
        border:1px solid #fff;
        color: #fff;
        padding: .2em;
    }
}

.tasks-kanban{
    display: flex;
    flex-direction: column;
    gap: 2.75rem;
    margin-top: 2.125rem;

    .tasks-kanban-list{
        list-style: none;
    }

    .tasks-kanban-btn{
        background-color: transparent;
        color: $lightBlue;
        margin-top: 1rem;
        font-size: 1rem;

        &:hover{
            color: $secondary;
        }
    }

    @media screen and (min-width: 40rem) {
        &{
            flex-direction: row;
            overflow-x: scroll;
        }
        & > div {
            min-width: 20rem;
            width: 33%;
            flex-shrink: 0;
        }

        .task{
            padding: 1em .9em;
        }
    }
}
// .tasks-table{
//     display: flex;
//     flex-direction: column;
//     align-content: center;
// }
// .tasks-table-btn{
//     padding: .5em 1em;
//     margin: 3rem 0;
// }

// .tasks-table-listitem{
//     max-width: 55rem;
// }