@import "partials/variables";
@import "partials/reset";
@import "partials/base";
@import "partials/header";
@import "partials/main";
@import "partials/tasks";
@import "partials/footer";

//----------------------MAIN----------------------------------------------//
.main-paragraphe {
    // padding-left: 13.333vw;
    margin-top: 7vw;
    // margin-right:12vw;
    // padding-right: 12vw;
    // padding-left:12vw;
    margin-bottom:2.5rem;
    max-width: 40rem; 
    line-height: 1.68em;
}

.main-heading {
    font-size:  30px;
    // padding-left: 12vw;
    margin-bottom: 2em;
}

.main-button {
    // margin-left: 12vw;
    border: none;
    color: #FFFF;
    background-color: #1C1C1F;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 5rem;
    cursor: pointer;
}

//------------------------MEDIA QUERIES-----------------------------//
@media screen and (min-width: 1023px) {

//----------------------MAIN----------------------------------------------//
.main-paragraphe {
    font-size: 20px;
    // padding-left: 13.333vw;
    margin-top: 7vw;
    // margin-right:12vw;
    // padding-right: 12vw;
    // padding-left:12vw;
    margin-bottom:7vw;
}
.main-heading {
    // padding-left: 12vw;
    margin-bottom: 5vw;
}
.main-button {
    // margin-left: 12vw;
    // border: none;
    // color: #FFFF;
    // background-color: #1C1C1F;
    font-size: 2vw;
}
}